body {
  font-family: sans-serif;
  background-color: 1e1e1e;
  
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
}

section h2 {
  margin-top: 2em;
  text-align: center;
}

section label {
  display: block;
  margin-bottom: 0.5em;
}

section input[type="text"],
section input[type="email"],
section textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

section button[type="submit"] {
  display: block;
